$mainColor: rgba(97, 218, 251, 0.8);
$textColor: rgba(255,255,255,0.8);
$codeColor: #fff3cd;
$codeBgColor: rgba(255,255,255,.05);
$darkerColor: rgba(0,0,0,.5);
$darkColor: rgba(0,0,0,.3);
$linkHoverColor: rgb(97, 218, 251);
